@model someren_application.Models.Students

<form method="post" asp-controller="Students" asp-action="Edit" onsubmit="alert('Details have been updated');">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Update Student Details
            </h2>
            <hr />
        </div>
       @*  <div class="mb-3 row">
            <label asp-for="StudentId" class="p-0"></label>
            <input asp-for="StudentId" type="hidden" class="form-control" />
            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div> *@
        <div class="mb-3 row">
            <label asp-for="StudentNumber" class="p-0"></label>
            <input asp-for="StudentNumber" class="form-control" />
            <span asp-validation-for="StudentNumber" class="text-danger"></span>
            <div class="mb-3 row">
                <label asp-for="FirstName" class="p-0"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="LastName" class="p-0"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="PhoneNumber" class="p-0"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="StudentClass" class="p-0"></label>
                <input asp-for="StudentClass" class="form-control" />
                <span asp-validation-for="StudentClass" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6 col-mid-3">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col col-mid-3">
                    <a asp-controller="Students" asp-action="Index" class="btn btn-outline-secondary border form-control">
                        Back To Students
                    </a>
                </div>
            </div>
        </div>
</form>
